body{
	padding: 0px;
	margin: 0px;
}

.container{
	max-width: 1035px;
	margin: 0 auto;
	/*background-color: lightblue;*/
}

.header__container{
	max-width: 1235px;
	margin: 0 auto;
}

.menu{
	padding: 10px 0;
}

.menu__list{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
}

.menu__link{
	text-decoration: none;
	margin-left: 25px;
	font-size: 23px;
	color: #333;
	font-weight: 500;
}

.about{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.about__item{

}

.about__title{
	font-size: 50px;
}

.about__suptitle{
	padding-right: 100px;
	margin-bottom: 50px;
}

.btn{
	/*border: 2px solid red;*/
	text-decoration: none;
	border-radius: 7px;
	padding: 10px;
	background-color: red;
	font-size: 20px;
	color: #fff;

	transition: background-color .2s linear, color .2s linear;
}

.btn:hover{
	background-color: grey;
	color: #333;
}

.about__img{
	border-radius: 900px;
}

.posts{
	background-color: #D8E3E7;
	margin: 50px 0;
	height: 400px;
}

.posts__header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.posts__name{
	font-size: 20px;
}

.posts__link{
	text-decoration: none;
	color: blue;
}

.posts__block{
	display: flex;
	justify-content: center;
}

.posts__work{
	background-color: #fff;
	padding: 10px 30px ;
	border-radius: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.posts__title{
	/*font-size: 30px;*/
}

.posts__date{
	display: flex;
	margin-left: 3px;
}

.works{

}

.works__info{
	margin-top: 20px;
	margin-right: 10px;
	display: flex;
}

.works__info img{
	border-radius: 20px;
}

.works__info-item{
	margin: 0 20px;
}

.works__info-item h1{
	font-size: 30px;
}

.works__year{
	border-radius: 30px;
	background-color: darkblue;
	color: #fff;
	width: 40px;
	padding-left: 9px;
}

.footer__icon{
	width: 50px;
	height: 50px;
	margin-top: 100px;
}

.footer__text{
	display: flex;
	justify-content: center;
	margin: 20px 0;
}




















